<%= form_for(@vip) do |f| %>
  <% if @vip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vip.errors.count, "error") %> prohibited this vip from being saved:</h2>

      <ul>
      <% @vip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :prenom %><br>
    <%= f.text_field :prenom %>
  </div>
  <div class="field">
    <%= f.label :localisation %><br>
    <%= f.text_field :localisation %>
  </div>
  <div class="field">
    <%= f.label :fonction %><br>
    <%= f.text_field :fonction %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :tel_fixe %><br>
    <%= f.text_field :tel_fixe %>
  </div>
  <div class="field">
    <%= f.label :tel_portable %><br>
    <%= f.text_field :tel_portable %>
  </div>
  <div class="field">
    <%= f.label :assistante %><br>
    <%= f.text_field :assistante %>
  </div>
  <div class="field">
    <%= f.label :identifiants %><br>
    <%= f.text_area :identifiants %>
  </div>
  <div class="field">
    <%= f.label :materiel %><br>
    <%= f.text_area :materiel %>
  </div>
  <div class="field">
    <%= f.label :domaine %><br>
    <%= f.text_field :domaine %>
  </div>
  <div class="field">
    <%= f.label :divers %><br>
    <%= f.text_area :divers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
