<%= simple_form_for @vip, :html => { :multipart => true } do |f| %>
  <% if @vip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vip.errors.count, "error") %> prohibited this vip from being saved:</h2>

      <ul>
      <% @vip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :nom %>
  </div>
  <div class="field">
    <%= f.input :prenom %>
  </div>
  <div class="field">
    <%= f.input :localisation %>
  </div>
  <div class="field">
    <%= f.input :fonction %>
  </div>
  <div class="field">
    <%= f.input :service %>
  </div>
  <div class="field">
    <%= f.input :email %>
  </div>
  <div class="field">
    <%= f.input :tel_fixe %>
  </div>
  <div class="field">
    <%= f.input :tel_portable %>
  </div>
  <div class="field">
    <%= f.input :assistante %>
  </div>
  <div class="field">
    <%= f.input :identifiants %>
  </div>
  <div class="field">
    <%= f.input :materiel %>
  </div>
  <div class="field">
    <%= f.input :domaine %>
  </div>
  <div class="field">
    <%= f.input :divers %>
  </div>
  <div class="field">
    <%= f.input :photo %>
  </div>
<br>

</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<br>

</br>
<% end %>
