<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @vip.photo.url(:small) %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @vip.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @vip.prenom %>
</p>

<p>
  <strong>Localisation:</strong>
  <%= @vip.localisation %>
</p>

<p>
  <strong>Fonction:</strong>
  <%= @vip.fonction %>
</p>

<p>
  <strong>Service:</strong>
  <%= @vip.service %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vip.email %>
</p>

<p>
  <strong>Tel fixe:</strong>
  <%= @vip.tel_fixe %>
</p>

<p>
  <strong>Tel portable:</strong>
  <%= @vip.tel_portable %>
</p>

<p>
  <strong>Assistante:</strong>
  <%= @vip.assistante %>
</p>

<p>
  <strong>Identifiants:</strong>
  <%= @vip.identifiants %>
</p>

<p>
  <strong>Materiel:</strong>
  <%= @vip.materiel %>
</p>

<p>
  <strong>Domaine:</strong>
  <%= @vip.domaine %>
</p>

<p>
  <strong>Divers:</strong>
  <%= @vip.divers %>
</p>

<%= link_to 'Edit', edit_vip_path(@vip) %> |
<%= link_to 'Back', vips_path %>
