<center><%= link_to "Monitoring", '', :class => "signup_button_3 " %></center>
<table width="100%">

  <COLGROUP align="center">
  <COL align=left style="width:15%">
  <COL align=left style="width:5%">
  <COL align=left style="width:35%">
  <COL align=left style="width:5%">
  <COL align=left style="width:10%">
  <COL align=left style="width:10%">
  <%#*<COL align=left style="width:10%">%>
  <COL align=left style="width:25%">
  </COLGROUP>

    <tr align="left">
      <th>Status</th>
      <th>Trig</th>
      <th>Demandeur</th>
      <th>N°Ticket</th>
      <th>Date ouverture</th>
      <th>Estimation cloture</th>
      <%#*<th>Date cloture</th>%>
      <th>Commentaire</th>
    </tr>
  

  <tbody>
    <% @monitorings.each do |monitoring| %>
      <tr>
        <td style="font-size:2em; font-weight:bold;"><%= monitoring.monitoring_status.name %></td>
        <td style="font-size:1.5em; font-weight:bold;"><%= monitoring.trigramme %></td>
        <td style="font-size:2em; font-weight:bold;"><%= monitoring.vip.prenom + " " + monitoring.vip.nom  %></td>
        <td style="font-size:1.6em; font-weight:bold;"><%= monitoring.oscar_ticket_id %></td>
        <td style="font-size:1em; font-weight:bold;"><%= monitoring.date_ouverture %></td>
        <td style="font-size:1em; font-weight:bold;"><%= monitoring.date_estimation_cloture %></td>
        <%#*<td style="font-size:1em; font-weight:bold;"><%= monitoring.date_cloture %</td>%>
        <td style="font-size:1.5em; font-weight:bold;"><%= monitoring.comment %></td>
        
        
        <%#*<td><%= link_to 'Show', monitoring %</td>%>
        <td><%= link_to image_tag("crayon.gif", :border=>0, :class => 'dock-item'), edit_monitoring_path(monitoring) %></td>
        <td><%= link_to image_tag("Croix-rouge.png", :border=>0, :class => 'dock-item'), monitoring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$( "tr:odd" ).css( "background-color", "#E0DEF2" );
</script>

<%= link_to 'New Monitoring', new_monitoring_path %>
