<center><%= link_to "Status", '', :class => "signup_button_4 " %></center>
<script>
$(document).ready(function() {
  setTimeout(function() {
    window.location.reload();
  }, 15000);
});
</script>
<table width="100%" cellpadding="7">

  <COLGROUP align="center">
  <COL align=left style="width:45%">
  <COL align=left style="width:10%">
  <COL align=left style="width:45%">
  </COLGROUP>
  <thead>
    <tr align="left">
      <th>Technicien</th>
      <th>Statut</th>
      <th>Client</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
      <tr>
        <td style="font-size:3em; font-weight:bold;"><%= intervention.user.prenom + " " + intervention.user.nom %></td>
        <td style="font-size:2em; font-weight:bold;"><%= intervention.intervention_status.name %></td>
        <td style="font-size:3em; font-weight:bold;"><%= intervention.vip.prenom + " " + intervention.vip.nom %></td>
        <% if can? :update, intervention %>
        <td><%= link_to image_tag("crayon.gif", :border=>0, :class => 'dock-item'), edit_intervention_path(intervention) %></td>
        <%end%>
        <td><%= link_to image_tag("Croix-rouge.png", :border=>0, :class => 'dock-item'), intervention, method: :delete, data: { confirm: "Cette action est irréversible, voulez vous continuer?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$( "tr:odd" ).css( "background-color", "#E0DEF2" );
</script>
<br>

<%= link_to 'New Intervention', new_intervention_path %>
